<div class="author">
  <h2 class="author__heading"><i>"Self love is the purest kind of love"-Kajal Singh</i></h2>
  
 
</div>

<img src="/img/mine.jpg"alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latests Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>


  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
 

  



</section>