<h1><%= data.title %></h1>
<article class="article"><%= data.body %></article>


<br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

      

        .comment {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #000000;
            background-color: rgb(0, 0, 0);
        }

        .comment-info {
            font-size: 12px;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        


        <div class="comment">
            <div class="comment-info">Posted by Karan on October 22, 2023</div>
            <p>Hahaha that's so true man.</p>
        </div> 
        <div class="comment">
            <div class="comment-info">Posted by Aditya on October 20, 2023</div>
            <p>Couldn't agree with you more</p>
        </div> 
     
</body